@import url("https://fonts.googleapis.com/css2?family=Gwendolyn&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap");
@import "../../styles/variaveis";
@import "../../styles/breakpoints";

.carregando{
  @apply h-[100vh] w-full flex flex-col items-center justify-around;
  &__titulos{
    @apply flex flex-col items-center;
  }
}

.central {
  background-image: url("../../images/bgFloral.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @apply bg-gold animate-fadeinDown;
  &__cartaoBotoes {
    @apply absolute flex flex-row w-36;
    @apply flex flex-row items-center justify-between mt-4;
    @media screen and (min-width: 767px) {
      @apply w-80 justify-evenly hidden;
    }
    @media screen and (min-width: $desktop_md) {
      @apply hidden;
    }
    &__confirma {
      @apply h-14 w-40 mx-1;
      @media screen and (min-width: 767px) {
        @apply w-28;
      }
    }

    &__Lista {
      @apply h-14 w-40 mx-1;
      @media screen and (min-width: 767px) {
        @apply w-28;
      }
    }
  }
}

.central__cartaoBotoesDesktop {
  @apply w-full flex flex-row justify-around mt-6;
  @media screen and (max-width: 767px) {
    @apply hidden;
  }
}
.navbarhome {
  position: relative;
  @apply z-10;
}

.entrada {
  background-image: url("../../images/flor6.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  @apply flex flex-col items-center justify-center h-[100vh] w-full p-1 pb-40;
  @media screen and (min-width: 767px) {
  }
  @media screen and (min-width: 1090px) {
    background-size: 70%;
  }
  @media screen and (min-width: 1500px) {
    background-size: 60%;
  }
  // @media screen and (min-width: 1920px) {
  //   background-position: 50% -34%;
  //   @apply justify-center;
  // }
  &__casalConteiner {
    @apply flex flex-col justify-around hidden;
  }
  &__casal {
    background-image: url("../../images/ramos.png"),
      url("../../images/aliancas.png");
    background-repeat: no-repeat;
    background-position: bottom, top;
    background-size: 60%, 12%;
    font-family: "Gwendolyn", cursive;
    @apply h-24 flex flex-col items-center justify-center text-center;
    @media screen and (min-width: 767px) {
      @apply h-40;
    }
    &__titulo {
      @apply px-6 text-[3rem] text-center text-black;
      @media screen and (min-width: 767px) {
        @apply text-7xl;
      }
    }
  }
  &__foto {
    z-index: 0;
    position: relative;
    @apply my-4 relative;
    &__imagem {
      @apply w-80 h-96 rounded-tr-[7.5rem] rounded-bl-3xl z-10 drop-shadow-lg;
      clip-path: polygon(
        50% 0%,
        100% 35%,
        100% 100%,
        50% 100%,
        0% 100%,
        0% 35%
      );
      @media screen and (min-width: 767px) {
        @apply w-[27rem] h-[35rem] z-10;
      }
      @media screen and (min-width: $desktop_xl) {
        @apply w-[54rem] h-[50rem] z-10;
      }
    }
  }
  &__flor4 {
    background-image: url("../../images/flor5Large.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100%;
    width: 80%;
    height: 100%;
    position: absolute;
    bottom: 6px;
    right: -10px;
    z-index: 2;
    @media screen and (min-width: $desktop_xl) {
      background-image: url("../../images/flor5Large.png");
    }
    @media screen and (min-width: 1360px) {
      bottom: -63px;
      right: -1px;
      background-size: 85%;
    }
  }
  &__cartaoInferior {
    bottom: 4px;
    left: 28%;
    background-image: url("../../images/papelRasgado.png");
    background-size: 108%;
    background-position: 54% 85%;
    background-repeat: no-repeat;
    @apply absolute rounded-lg w-40 h-20 z-20;
    @media screen and (min-width: $tablet) {
      bottom: 16px;
      left: 40%;
      height: 8rem;
      width: 14rem;
    }
    @media screen and (min-width: $desktop_xl) {
      bottom: -50px;
      left: 6%;
      @apply w-full h-1/6;
    }
    @media screen and (min-width: 1360px) {
      bottom: -135px;
      left: 25%;
      
    height: 60.666667%;
    width: 63%;
    }
    &__text {
      font-family: "Gwendolyn", cursive;
      @apply self-start text-3xl text-black text-center flex flex-col justify-center items-center h-full;
      @media screen and (min-width: $tablet) {
      @apply text-4xl
      }
      @media screen and (min-width: $desktop_xl) {
        @apply text-[6rem] text-black h-full;
      }
      @media screen and (min-width: 1360px) {
        bottom: -81px;
        left: 24%;
        font-size: 4rem;
        height: 126%;
      }
    }
  }
}
.tituloCoracao__conteiner {
  transform: translateY(50%) translateX(8%);
  z-index: 11;
  font-family: "Great Vibes", cursive;
  @apply flex flex-row w-full justify-evenly absolute;
  @media screen and (min-width: $desktop_xl) {
    transform: translateY(50%) translateX(70%);
  }
}
.tituloCoracao__aliancas {
  @apply w-28 h-20;
}
.tituloCoracao__titulos {
  display: inline-block;
  transform: rotate(-15deg);
  transform-origin: center;
  text-shadow: rgba(0, 0, 0, 0.5) 0.1em 0.1em 0.1em;
  @apply text-center flex flex-col items-center text-4xl mr-1;
  @media screen and (min-width: 767px) {
    @apply text-6xl;
  }
  @media screen and (min-width: $desktop_xl) {
    @apply text-6xl;
  }
}
.tituloCoracao__titulosDireita {
  display: inline-block;
  transform: rotate(20deg);
  transform-origin: center;
  font-family: "Montserrat", sans-serif;
  @apply text-center flex flex-col items-center py-5  ml-1;
}

.heart {
  background-image: url("../../images/gabieantonio.jpg");
  background-size: 119%;
  background-position: cover;
  mask-image: url("../../images/s2.png");
  mask-size: 100%;
  mask-position: center;
  mask-repeat: no-repeat;
  @apply w-80 h-96 z-10;
  @media screen and (min-width: 767px) {
    @apply w-[37rem] h-[42rem] z-10;
  }
  @media screen and (min-width: 1360px) {
    background-size: 100%;
    @apply w-[32rem] h-[30rem] z-10;
  }
  // @media screen and (min-width: 1720px) {
  //   @apply w-[45rem] h-[43rem] z-10;
  // }
}

.sobre {
  @apply bg-[#e5dbc5] text-center ;
  font-family: "Poppins", cursive;
  @media screen and (min-width: 767px) {
    @apply flex flex-col items-center justify-around;
  }
  @media screen and (min-width: 1080px) {
    @apply h-[830px] items-center;
  }
  &__titulo {
    font-family: "Permanent Marker", cursive;
    @apply text-lg mb-2;
    @media screen and (min-width: 767px) {
      @apply text-2xl;
    }
    @media screen and (min-width: 1080px) {
      @apply text-4xl;
    }
  }
  &__conteinerTextos {
    @media screen and (min-width: 767px) {
      @apply w-[720px] h-[670px] text-black;
    }
    @media screen and (min-width: 1080px) {
      @apply w-[1000px] h-[700px] text-black;
    }
  }
  &__conteinerTextosEsquerd {
    @media screen and (min-width: 767px) {
      @apply w-1/2  px-5;
    }
  }
  &__conteinerTextosDireita {
    @media screen and (min-width: 767px) {
      @apply w-1/2  px-5;
    }
  }
  &__texto {
    @apply text-center my-4 px-2;
    @media screen and (min-width: 1080px) {
      @apply text-xl;
    }
  }
  &__textoFinal {
    @apply text-center mt-6 px-2;
    @media screen and (min-width: 1080px) {
      @apply text-xl;
    }
  }
  &__destaque {
    @apply font-bold;
  }
}

.galeria {
  background-image: url("../../images/fundoPequeno.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @apply h-[1300px] flex flex-col items-center justify-around bg-gold;
  @media screen and (min-width: 767px) {
    @apply h-[80vh] bg-gold;
  }
  @media screen and (min-width: 1300px) {
    @apply h-[1310px] bg-gold;
  }

  &__titulo {
    text-shadow: black 0.1em 0.1em 0.2em;
    font-family: "Permanent Marker", cursive;
    @apply text-center text-gold text-2xl my-6;
    @media screen and (min-width: 600px) {
      @apply text-4xl;
    }
    @media screen and (min-width: 1080px) {
      @apply text-6xl;
    }
  }
  &__fotos {
    @apply flex flex-row justify-around h-[80%] flex-wrap;
    &__mosaic {
      display: flex;
      flex-wrap: wrap;
    }
    &__images {
      box-shadow: 3px 4px 6px rgb(0 0 0 / 44%);
      width: 100%;
      height: auto;
      border: 1px solid black;
      @apply my-1;
    }
    &__images9 {
      box-shadow: 3px 4px 6px rgb(0 0 0 / 44%);
      width: 100%;
      height: 205px;
      border: 1px solid black;
      @apply my-1;
      @media screen and (min-width: 1700px) {
        height: 344px;
      }
    }
    &__images20 {
      box-shadow: 3px 4px 6px rgb(0 0 0 / 44%);
      width: 100%;
      height: 275px;
      border: 1px solid black;
      @apply my-1;
      @media screen and (min-width: 1700px) {
        height: 440px;
      }
    }
    &__images21 {
      box-shadow: 3px 4px 6px rgb(0 0 0 / 44%);
      width: 100%;
      height: 258px;
      border: 1px solid black;
      @apply my-1;
      @media screen and (min-width: 1700px) {
        height: 414px;
      }
    }
  }
  &__fotos2 {
    @apply flex flex-row justify-around h-[80%] flex-wrap;
    &__mosaic {
      display: flex;
      flex-wrap: wrap;
    }
    &__images {
      box-shadow: 3px 4px 6px rgb(0 0 0 / 44%);
      width: 100%;
      height: auto;
      @apply my-1;
    }
  }
  &__fotos3 {
    @apply flex flex-row justify-around h-[80%] flex-wrap;
    &__mosaic {
      display: flex;
      flex-wrap: wrap;
    }
    &__images {
      box-shadow: 3px 4px 6px rgb(0 0 0 / 44%);
      width: 100%;
      height: auto;
      @apply my-1;
    }
  }
}

.galerias {
  @apply flex flex-col;
  @media screen and (min-width: 767px) {
    @apply flex flex-row;
  }
  @media screen and (min-width: 1700px) {
    @apply h-[864px] justify-center;
  }
}

.galeria__fotos {
  width: 360px;
  height: 560px;
  // @media screen and (min-width: 1300px) {
  //   width: 440px;
  //   height: 765px;
  // }
  @media screen and (min-width: 1700px) {
    width: 30%;
    height: 105%;
  }
}

.galeria__fotos2 {
  width: 360px;
  height: 576px;
  // @media screen and (min-width: 1300px) {
  //   width: 440px;
  //   height: 765px;
  // }
  @media screen and (min-width: 1700px) {
    width: 30%;
    height: 105%;
  }
}

.galeria__fotos3 {
  width: 360px;
  height: 560px;
  @media screen and (max-width: 1079px) {
    @apply hidden;
  }
  @media screen and (min-width: 1700px) {
    width: 30%;
    height: 105%;
  }
  // @media screen and (min-width: 1300px) {
  //   width: 440px;
  //   height: 765px;
  // }
}

.galeria__fotos div {
  filter: grayscale(100%);
}

.galeria__fotos div {
  width: 100%;
  height: auto;
}

.galeria__fotos div:nth-child(1),
.galeria__fotos div:nth-child(2) {
  width: 49%;
  height: 28%;
}

.galeria__fotos div:nth-child(1),
.galeria__fotos div:nth-child(4) {
  height: 30%;
}
.galeria__fotos div:nth-child(2),
.galeria__fotos div:nth-child(3) {
  height: 68%;
}
.galeria__fotos div:nth-child(3) {
  transform: translateY(-56%);
}
.galeria__fotos div:nth-child(4) {
  transform: translateY(3%);
}

.galeria__fotos div:nth-child(3),
.galeria__fotos div:nth-child(4) {
  width: 49%;
}

.galeria__fotos2 div {
  filter: grayscale(100%);
}

.galeria__fotos2 div {
  width: 100%;
  height: auto;
}

.galeria__fotos2 div:nth-child(1),
.galeria__fotos2 div:nth-child(2) {
  width: 49%;
  height: 28%;
}

.galeria__fotos2 div:nth-child(2),
.galeria__fotos2 div:nth-child(3) {
  height: 30%;
}
.galeria__fotos2 div:nth-child(1),
.galeria__fotos2 div:nth-child(4) {
  height: 68%;
}

.galeria__fotos2 div:nth-child(3) {
  transform: translateY(-34%);
}

.galeria__fotos2 div:nth-child(4) {
  transform: translateY(-53.5%);
}

.galeria__fotos2 div:nth-child(3),
.galeria__fotos2 div:nth-child(4) {
  width: 49%;
}

.galeria__fotos3 div {
  filter: grayscale(100%);
}

.galeria__fotos3 div {
  width: 100%;
  height: auto;
}

.galeria__fotos3 div:nth-child(1),
.galeria__fotos3 div:nth-child(2) {
  width: 49%;
  height: 28%;
}

.galeria__fotos3 div:nth-child(1),
.galeria__fotos3 div:nth-child(4) {
  height: 30%;
}
.galeria__fotos3 div:nth-child(2),
.galeria__fotos3 div:nth-child(3) {
  height: 68%;
}
.galeria__fotos3 div:nth-child(3) {
  transform: translateY(-31%);
}
.galeria__fotos3 div:nth-child(4) {
  transform: translateY(4%);
}
.galeria__fotos3 div:nth-child(3),
.galeria__fotos3 div:nth-child(4) {
  width: 49%;
}


.loadingBar {
  width: 300px;
  height: 20px;
  border: 1px solid #000;
}

.loadingBarFill {
  width: 0%;
  height: 100%;
  background-color: #4CAF50;
  animation-name: fill;
  animation-duration: 4s;
}

@keyframes fill {
  from {width: 0%;}
  to {width: 100%;}
}