@import url('https://fonts.googleapis.com/css2?family=Gwendolyn&family=Poppins&display=swap');

.corpo {
  font-family: 'Poppins', sans-serif;
  background-image: url("../../images/Forma1.svg"),
    url("../../images/Forma4.png"), url("../../images/Forma4.png"),
    url("../../images/Forma4.png"), url("../../images/Forma4.png"),
    url("../../images/Forma4.png");
  background-repeat: no-repeat;
  background-position: top left, left 20%, left 50%, left 70%, left 90%, left bottom;
  @apply h-max flex flex-col items-center;
  &__casal{
    font-family: 'Gwendolyn', cursive;
    @apply self-start py-9 px-6 text-4xl text-white;
  }
  &__titulo {
    font-family: "Michroma", sans-serif;
    @apply text-center font-bold text-2xl text-azulMarinho mt-16 p-4;
  }
  &__lista {
    @apply my-2 text-center w-full flex flex-col items-center;
    &__item {
      @apply my-1 bg-blue-600 h-10 text-lg w-full flex;
      &__link {
        @apply bg-red-600 w-full h-full;
      }
    }
  }
}

.botoes__tipo__up{
  @apply animate-bounce flex flex-col items-center;
  color: #C5DFFF;
  text-align: center;
  margin: 1em;
  margin-bottom: 0;
  background-color: #DB2C66;
  width: 50%;
  height: 50px;
  border: 4px solid #DB2C66;
  border-radius: 1000px;
  &:hover {background-color: #DB2C66}
  &:active {
    background-color: #DB2C66;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}

.seta{
  @apply animate-waving-hand h-6;
}